.DS_Store
.idea
node_modules
.devenv*
devenv.local.nix

# Frontend
/public/assets/
/public/dist/

# Kirby
.dev
kirby
vendor
site/config/env.php

site/plugins/*
!site/plugins/custom

/public/media/*
!/public/media/.gitkeep

/storage/accounts/*
!/storage/accounts/.gitkeep

/storage/cache/*
!/storage/cache/.gitkeep

/storage/logs/*
!/storage/logs/.gitkeep

/storage/sessions/*
!/storage/sessions/.gitkeep